body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #032431;
}

/* Estilos del contenedor de la página */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para los enlaces en el NavBar */
.nav-link {
  text-decoration: none;
  color: #ff0808;
  margin: 0 10px;
}

/* Estilos para los botones del NavBar */
.button {
  background-color: #f0b7a4;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #7b3f31;
}

/* Estilos para el botón de búsqueda */
.search-button {
  background-color: #a3e1d4;
}

.search-button:hover {
  background-color: #5bd6bf;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
