.card {
  background-color: #6b6de2;
  border: 5px solid #575ae8;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(231, 27, 27, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 270px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
}

.titulo {
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.cardimg {
  width: 230px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 16px 0;

}

.subTitulo {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #ffffff;
}